

html, body
{
    padding: 0px;
    margin: 0px;
}


#divSmoothingFactor
{
    position: absolute;
    left: 14px;
    top: 12px;
}


.wrapper {
    max-width: 900px;
    margin: auto;
    font-family: "Arial";

}

.toolbar {

  width: 100%;
  background-color: #444;
  overflow: auto;

}

.toolbar a{
  float: left;
  width: 11%;
  text-align: center;
  padding: 6px 5px;
  transition: all 0.5s ease;


}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}



.modal-dialog {
 
          width: 360px;
          
 
        }
        

}

 .modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  overflow: auto;
  height: 100%
}
 
.modal-backdrop
{
    opacity:0.5 !important;
}


